*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint
.DS_Store
DerivedData/
.derivedData-clean*
build/*
*.xcresult

# Supabase CLI
supabase/.temp/

tmp/video_frames/